@import '../../../style/index.scss';

.modal {
  border-radius: 40px;
}

.innerList {
  View {
    .line {
      height: 1px;
      width: 100px;
    }

    Text {
      &:last-child {
        color: #444444;
        text-align: right;
      }

      font-size: 30px;
      width: 200px;
    }



    box-sizing: border-box;
    @include flex;
    height: 100px;
    color: #777777;
    padding: 20px 40px;
  }

  View+View {
    border-top: 1px solid #f8f8f8;
  }

}
